<h1> Patients and their Appointments </h1>
<ul>
<% @patients.each do |patient| %><br>
<li>
    Name: <%= link_to patient.name, patient_path(patient)%>
    Number of Appointments: <%= patient.appointments.count%>
</li>
<% end %>
</ul>