<h1> Patients </h1>


<ul>
    <% @patients.each do |pt| %>
        <li>Name: <%= link_to "#{pt.name}", patient_path(pt) %> <br> Number of Appointments: <%= pt.appointments.count %></li><br>
    <% end %>
</ul>