<h1> Doctor.<%= @doctor.name %></h1>
<h2> Appointment</h2>
<% @doctor.appointments.each do |appt| %>
   <%= appt.appointment_datetime.strftime("%B %d, %Y at %R") %>
   <%= link_to appt.patient.name, patient_path(appt.patient) %>
<% end %>

