<h1> Information about your appointment </h1>

<p>Patient Name: <%= link_to @appointment.patient.name, patient_path(@appointment.patient)%></p>
<p>Doctor Name: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor)%></p>
<p>Appointment Date: <%= @appointment.appointment_datetime.strftime("%B %d, %Y") %> </p>
<p>Appointment Time: <%= @appointment.appointment_datetime.strftime("%R") %></p>
