<h1> Appointment Details</h1>
 
Time: <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M%p") %><br>
Patient Name: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>
Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %>